<div class="col s3">
  {{#link-to 'tour' tour.id}}<img src="{{tour.image}}" alt="photo of hot air balloons">
  <h3>{{tour.name}}</h3>{{/link-to}}
  <p>{{tour.price}}</p>
  <p>{{tour.length}}</p>
</div>
