<div class="overlay">
  <div class="index-header">
    <h1>Travel deeper</h1>
  </div>
  <div class="index-callToAction">
    <a class="waves-effect waves-light btn callToAction">Explore Trips</a>
  </div>
</div>
