<nav>
  <div class="nav-wrapper">
    <a href="#" class="wander-logo">WANDER</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#link-to 'trip'}}<li>Trips</li>{{/link-to}}
        {{#link-to 'admin'}}<li>Admin</li>{{/link-to}}
        <!-- {{#link-to 'contact'}}<li>Contact</li>{{/link-to}} -->
        {{#link-to 'cart'}}<li>Cart</li>{{/link-to}}
    </ul>
  </div>
</nav>
  <div class="container">
    {{outlet}}
  </div>
