<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="trip">Trips</a></li>
      <li><a href="about">About Us</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="cart">Cart</a></li>
    </ul>
  </div>
</nav>
<body>
  <div class="container">

    {{outlet}}
  </div>
</body>
