<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#link-to 'trip'}}<li>Trips</li>{{/link-to}}
        <!-- {{#link-to 'about'}}<li>About Us</li>{{/link-to}} -->
        <!-- {{#link-to 'contact'}}<li>Contact</li>{{/link-to}} -->
        {{#link-to 'cart'}}<li>Cart</li>{{/link-to}}
    </ul>
  </div>
</nav>
<body>
  <div class="container">

    {{outlet}}
  </div>
</body>
